.part1-container{
    margin: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.part1-container table{
    border-collapse: collapse
}

.part1-container td{
    width: 250px;
    border: solid 2px #000;
    text-align: left;
    padding:5px;
    margin-left:6px;
}